
body{
    background-image: url('https://getwallpapers.com/wallpaper/full/e/c/2/830552-gorgerous-indian-flag-wallpaper-2018-1920x1200.jpg');
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
#image{
    width:100%;
    
}