<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>

<body>
	<div class="col-md-4 col-md-offset-4" style=" margin-top: 100px; margin-bottom: 200px; margin-left: 500px; margin-right: 200px;">
		<div ">
			<p style="color: white;">NASA Image of the day</p>
		</div>
		<div>
			<center>
				<div id="image-container" >
					<img id="image" />
				</div>
			</center>
		</div>
	</div>
	<script>
		const apiKey = 'q2a6l7QKkKAKoTx2mNUg8Nr6m6jwwiLjBvXIjRYR';
		const url = `https://api.nasa.gov/planetary/apod?api_key=${apiKey}`;

		fetch(url)
			.then(response => response.json())
			.then(data => {
				const image = document.getElementById('image');
				const description = document.getElementById('description');
				image.src = data.hdurl;
				description.textContent = data.explanation;
				document.getElementById('image-container').style.display = 'block';
			})
			.catch(error => console.log(error));
	</script>
</body>

</html>